
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem 2rem 0 2rem;
    height:10vh;
    color: black;
}

.hire-me-button{
    border: 2px solid grey;
    padding: 8px;
    border-radius: 16px;
    text-decoration: none;
    
}
.navbar a {
    color: black;
}
a:link {
    text-decoration: none;
  }
#hire-button:hover{
    color: hotpink
}
  